* {
    box-sizing: border-box;
}

body,
html {
  margin: 0px;
  min-height: 100%;
  font-family: 'Arimo', sans-serif;
}

.nav {
    background: #fff;
    -webkit-box-shadow: 0 0 32px rgba(0,0,0,.15);
    box-shadow: 0 0 32px rgba(0,0,0,.15);
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    overflow: hidden;
    background-color: #131313;
    height: 32px;
  }

  .topnav li {
    float: left;
    list-style: none;
  }

  .topnav li a {
    display: inline-block;
    text-align: center;
    padding: 0px 7px;
    text-decoration: none;
    font-size: 13px;
    line-height: 32px;
    color: #fff9;
  }

  #news {
      color: white;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #131313;
    top: 32px;
    width: 220px;
    text-align: left;
  }

  .dropdown-content a {
    color: #fff9;
    font-size: 13px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left !important;
    padding-left: 10px;
  }

  .last-drop {
    border-top: 1px solid #ffffff1a;
  }

  .topnav li a:hover  {
      color: white;
    }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .logo {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 106px;
      height: 80px;
      background-color: #f42;
      background: linear-gradient(to bottom right,#c09,#f42 85%);
      text-align: center;
  }

  .logo img {
      width: 80px;
      padding-top: 30px;
      -webkit-transition: padding-top 1s;
      transition: padding-top 1s;
  }

   @media only screen and (max-width: 1024px) {
      .logo {
       display: block;
      }

      .topnav {
        padding-left: 115px;
      }
   }

   @media only screen and (max-width: 768px) {
      .topnav {
          display: none;
      }

      .nav,
      .logo {
          height: 48px;
      }

      .logo img {
        padding-top: 16px;
      }
   }
