* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  min-height: 100%;
  font-family: 'Arimo', sans-serif;
}

/* Navigation bars*/

/*top bar*/
.topnav {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #131313;
  height: 32px;
}

.topnav li {
  float: left;
  list-style: none;
}

.topnav li a {
  display: inline-block;
  text-align: center;
  padding: 0px 7px;
  text-decoration: none;
  font-size: 13px;
  line-height: 32px;
  color: #fff9;
}

#news {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  top: 32px;
  width: 220px;
  text-align: left;
  z-index: 999;
}

.dropdown-content a {
  color: #fff9;
  font-size: 13px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left !important;
  padding-left: 10px;
}

.last-drop {
  border-top: 1px solid #ffffff1a;
}

.topnav li a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* Logo */
.logo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 106px;
  height: 80px;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  text-align: center;
  z-index: 3;
}

.logo img {
  width: 80px;
  padding-top: 30px;
  -webkit-transition: padding-top 1s;
  transition: padding-top 1s;
  z-index: 3;
}

.logo2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 106px;
  height: 48px;
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  text-align: center;
  z-index: 9;
}

.logo2 img {
  width: 70px;
  height: 35px;
  padding-top: 16px;
  -webkit-transition: padding-top 1s;
  transition: padding-top 1s;
  z-index: 9;
}

.logo2-dropdown-content {
  position: absolute;
  background-color: #131313;
  top: 78px;
  left: 0;
  width: 106px;
  text-align: center;
  z-index: 9;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s;
}

.logo2-dropdown-content a {
  display: block;
  color: #fff9;
  font-size: 13px;
  text-decoration: none;
  width: 100%;
  padding: 8px;
}

.logo2-dropdown-content a:hover {
  color: #fff;
}

.logo2:hover,
.logo:hover {
  background-image: url(images/home-1.gif);
}

.logo2:hover .logo2-dropdown-content {
  max-height: 1000px;
}


/*Main navigation bar*/

/*left*/
.nav {
  background: #fff;
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  height: 48px;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.mainnav {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
}

.mainnav li {
  float: left;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}

.mainnav li a {
  display: inline-block;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 48px;
  color: #aaa;
}

/*Right*/

.navright {
  display: flex;
  float: right;
}

.navrightimg {
  margin: 20px 5px;
  width: 125px;
  height: 11px;
}

.nav-countdown-text {
  color: #555;
  margin: 18px 5px;
  font-size: 14px;
}

.bars {
  display: none;

}

.fa-bars {
  display: none;
  color: #f42;
  font-size: 23px;
  margin: 14px 5px;
}

.timer {
  width: 123px;
  color: #f42;
  text-decoration: none;
  font-size: 23px;
  margin: 13px 5px;
}

.btn {
  position: relative;
  bottom: 3px;
  background-color: #0cc;
  height: 28px;
  width: 93px;
  line-height: 28px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  margin: 13px 5px;
}

.fa-search {
  color: #aaa;
  padding: 17px 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-right: 1px solid #eeeeee
}

.navmsg {
  position: sticky;
  top: 48px;
  height: 30px;
  width: 100%;
  color: #000;
  background-color: #fd3;
  z-index: 2;
  line-height: 30px;
  font-size: 14px;
  padding-left: 15px;
  box-shadow: 0 16px 48px #00000026;
}

/*Headlines*/

.headlines {
  height: 60vh;
  padding: 2px 6px;
  display: grid;
  grid-gap: 6px;
  grid-template-areas: "art1 art1 art2"
    "art1 art1 art3"
}

/* main headline*/
.cover-image {
  background-image: url(images/witcher.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  grid-area: art1;
  position: relative;
  mix-blend-mode: darken;

}

.cover-gradient {
  background: transparent url(images/cover-gradient.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 6;
}

.cover-gradient:hover {
  mix-blend-mode: lighten;
}

.cover-logo {
  position: absolute;
  left: 24px;
  top: 24px;
  max-width: 50%;
  height: 112px;
  z-index: 7;
}

.cover-date {
  color: #fff;
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 7;
}

.main-header {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 7;
  padding: 5px;
}

.main-header h5 {
  position: relative;
  color: #fff;
  left: 2%;
  top: 10px;
  font-size: 14px;

}

.main-header h2 {
  position: relative;
  color: #fff;
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  padding-right: 5px;
  left: 2%;
  right: 2%;

}

.by {
  position: relative;
  color: #fff9;
  bottom: 0.3em;
  left: 2%;
  font-size: 12px;
}

.fa-clock,
.fa-share-alt {
  padding: 0px 5px;
}

/*small headlines*/

.small-headline {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

#small-headline1 {
  background-image: url(images/galaxy.png);
  grid-area: art2;
}

#small-headline2 {
  background-image: url(images/unity.jpg);
  grid-area: art3;
}

.small-header {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 7;
  padding: 5px;
}

.small-header h5 {
  position: relative;
  color: #fff;
  left: 2%;
  top: 10px;
  font-size: 14px;
}

.small-header h2 {
  position: relative;
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  padding-right: 5px;
  left: 2%;
  right: 2%;
}


.filler {
  width: 300px;
  margin: auto;
}

/*Media*/
@media only screen and (max-width: 1024px) {
  #logoid {
    display: block;
    height: 80px;
  }

  .bars {
    display: block;
  }

  .topnav,
  .mainnav {
    padding-left: 120px;
  }

  .navrightimg,
  .btn,
  .nav-countdown-text {
    display: none;
  }

  .navmsg {
    padding-left: 120px;
  }

  .headlines {
    height: 50vh;
  }

  .cover-logo,
  .cover-date {
    display: none;
  }

  .main-header h2 {
    font-size: 39px;
  }

}

@media only screen and (max-width: 768px) {

  .topnav,
  .mainnav {
    display: none;
  }

  #logoid {
    display: block;
    height: 48px;
  }

  .logo img {
    padding-top: 16px;
  }

  .navmsg {
    padding-left: 0px;
    text-align: center;
  }

  .headlines {
    height: 100vh;
    grid-template-areas: "art1"
      "art2"
      "art3"
  }

  .main-header h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {

  .timer {
    order: 1;
    margin-right: 25px;
  }

  .fa-search {
    order: 2;
    border-left: 1px solid #eeeeee;
  }

  .bars {
    order: 3;
    padding: 0px 5px;
  }

  .navmsg {
    font-size: 11px;
  }
}
